<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Escribanos</h3>
  
  <ion-avatar slot="start">
    <img [src]="producto.imagen">
  </ion-avatar>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="producto.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripcion</ion-label>
    <ion-input [(ngModel)]="producto.descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Precio</ion-label>
    <ion-input [(ngModel)]="producto.precio"></ion-input>
  </ion-item>
  

  <ion-item>
    <ion-button color="dark" (click)="guardar()">Agregar al carrito</ion-button>
  </ion-item>
  

</ion-content>
